<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.arabic123pc</string>
	<key>CFBundleName</key>
	<string>Arabic - 123 - PC</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>KLInfo_Arabic - 123 - PC</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.arabic123pc.arabic-123-pc</string>
		<key>TISIntendedLanguage</key>
		<string>ar</string>
	</dict>
	<key>CFBundleGetInfoString</key>
	<string>Mac-Arabic123-Fix 1.0.1, Developed by Muhammad El-Shaikh (github.com/ElShaikh1945)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Muhammad El-Shaikh. All rights reserved.</string>
</dict>
</plist>
